/* Grayscale */
$colorGray100: #000;
$colorGray90: #333;
$colorGray80: #666;
$colorGray70: #888;
$colorGray60: #BBB;
$colorGray50: #CCC;
$colorGray40: #DDD;
$colorGray30: #EAEAEA;
$colorGray20: #F0F0F0;
$colorGray10: #F5F5F5;
$colorGray00: #FFF;

/* Primary */
$colorBlue100 : #6987A1;
$colorBlue120 : #536F86;
$colorBlue10 : #F0F4F5;
$colorBrown100 : #B09785;
$colorBrown120 : #907C6B;
$colorBrown10 : #EEEBEB;
$colorRed : #EE3030;