// 폰트 기본
$fontDefault: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
$letterSpacing: -.5px;

//폰트 굵기 4 step
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

// 폰트 레벨
$fontSize4xl: 22px;
$fontSize4xlLineHeight: 26px;

$fontSize3xl: 20px;
$fontSize3xlLineHeight: 28px;

$fontSize2xl: 18px;
$fontSize2xlLineHeight: 25px;

$fontSizeXl: 16px;
$fontSizeXlLineHeight: 22px;

$fontSizeLg: 15px;
$fontSizeLgLineHeight: 21px;

$fontSizeMd: 14px;
$fontSizeMdLineHeight: 20px;

$fontSizeSm: 13px;
$fontSizeSmLineHeight: 18px;

$fontSizeXs: 12px;
$fontSizeXsLineHeight: 17px;