// 폰트 기본
$fontDefault: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
$letterSpacing: -.5px;

//폰트 굵기 4 step
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

// 폰트 레벨
// Title
$fontTitle2xl: 22px;
$fontTitle2xlLineHeight: 26px;

$fontTitleXl: 20px;
$fontTitleXlLineHeight: 28px;

$fontTitleLg: 18px;
$fontTitleLgLineHeight: 25px;

$fontTitleMd: 16px;
$fontTitleMdLineHeight: 22px;

$fontTitleSm: 15px;
$fontTitleSmLineHeight: 21px;

$fontTitleXs: 14px;
$fontTitleXsLineHeight: 20px;

$fontTitle2xs: 13px;
$fontTitle2xsLineHeight: 18px;

$fontTitle3xs: 12px;
$fontTitle3xsLineHeight: 17px;

// Body
$fontBodyXl: 16px;
$fontBodyXlLineHeight: 22px;

$fontBodyLg: 15px;
$fontBodyLgLineHeight: 21px;

$fontBodyMd: 14px;
$fontBodyMdLineHeight: 20px;

$fontBodySm: 13px;
$fontBodySmLineHeight: 18px;

$fontBodyXs: 13px;
$fontBodyXsLineHeight: 17px;