@use '../abstracts/variables';
@use '../abstracts/mixins';


/* button */
a, button {
  &[disabled], &[aria-disabled=true], &.disabled {
    pointer-events: none !important;
    cursor: default !important;
    text-decoration: none !important;

    * {
      text-decoration: none !important;
    }
  }

  /* 버튼 공통 */
  &[class^=btn] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;

    .text {
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }
  }

  &[class^=link-] {
    -webkit-touch-callout: none;
  }
}

/* size */
%btnSizeLg {
  height: 54px;
  padding: 0 24px;

  .text {
    @include mixins.font_size_lg('sb');
  }

  [class^=ico] {
    width: 18px;
    height: 18px;

    ~.text {
      margin-left: 4px;
    }
  }
}


%btnSizeMd {
  height: 44px;
  padding: 0 20px;

  .text {
    @include mixins.font_size_md('sb');

    ~[class^=ico]{
      margin-left: 4px;
    }
  }

  [class^=ico] {
    ~.text {
      margin-left: 4px;
    }
  }
}

%btnSizeSm {
  height: 36px;
  padding: 0 16px;

  .text {
    font-size: variables.$fontSizeSm;
    font-weight: variables.$fontWeightSemibold;
    letter-spacing: variables.$letterSpacing;

    ~ [class^=ico] {
      margin-left: 4px;
    }
  }

  [class^=ico]{
    width: 18px;
    height: 18px;

    ~.text {
      margin-left: 4px;
    }
  }
}

%btnSizeXs {
  height: 32px;
  padding: 0 16px;

  .text {
    font-size: variables.$fontSizeMd;
    font-weight: variables.$fontWeightRegular;
    letter-spacing: variables.$letterSpacing;
  }
}

%btnSize2xs {
  height: 30px;
  padding: 0 12px;

  .text {
    font-size: variables.$fontSizeSm;
    font-weight: variables.$fontWeightMedium;
    letter-spacing: variables.$letterSpacing;
  }
}
/* size */


button.btn, a.btn {
  &-lg, &-md, &-sm, &-xs, &-2xs, &-square-lg, &-square-md, &-square-sm, &-square-xs, &-square-2xs, &-box {

    &[disabled], &[aria-disabled=true], &.disabled {
      opacity: 0.4;
    }

    &.blue100 {
      background-color: variables.$colorBlue100;
      border: 1px solid variables.$colorBlue100;

      .text {
        color: variables.$colorGray00;
      }

      &:active, &:hover  {
        background-color: variables.$colorBlue120;
      }
    }

    &.blue10 {
      background-color: variables.$colorBlue10;
      border: 1px solid variables.$colorBlue10;

      .text {
        color: variables.$colorBlue120;
      }

      &:active, &:hover  {
        background-color: #E4E9EA;
        border-color: #E4E9EA;
      }
    }

    &.gray90 {
      background-color: variables.$colorGray90;
      border: 1px solid variables.$colorGray90;

      .text {
        color: variables.$colorGray00;
      }

      &:active, &:hover  {
        background-color: variables.$colorGray80;
        border-color: variables.$colorGray80;
      }
    }

    &.gray20 {
      background-color: variables.$colorGray20;
      border: 1px solid variables.$colorGray20;

      .text {
        color: variables.$colorGray80;
      }

      &:active, &:hover  {
        background-color: variables.$colorGray40;
        border-color: variables.$colorGray40;
      }
    }

    &.line-blue {
      background-color: variables.$colorGray00;
      border: 1px solid variables.$colorBlue100;

      .text {
        color: variables.$colorBlue120;
      }

      &:active, &:hover  {
        background-color: variables.$colorBlue10;
      }
    }

    &.line-brown {
      background-color: variables.$colorGray00;
      border: 1px solid variables.$colorBrown100;

      .text {
        color: variables.$colorBrown120;
      }

      &:active, &:hover  {
        background-color: variables.$colorBrown10;
      }
    }

    &.line-gray40 {
      background-color: variables.$colorGray00;
      border: 1px solid variables.$colorGray40;

      .text {
        color: variables.$colorGray80;
      }

      &:active, &:hover {
        background-color: variables.$colorGray30;
      }
    }
  }


  &-lg {
    @extend %btnSizeLg;
    border-radius: 27px;
  }

  &-md {
    @extend %btnSizeMd;
    border-radius: 22px;
  }

  &-sm {
    @extend %btnSizeSm;
    border-radius: 18px;
  }

  &-xs {
    @extend %btnSizeXs;
    border-radius: 18px;
  }

  &-2xs {
    @extend %btnSize2xs;
    border-radius: 99px;
  }


  &-square-lg {
    @extend %btnSizeLg;
  }

  &-square-md {
    @extend %btnSizeMd;
  }

  &-square-sm {
    @extend %btnSizeSm;
  }

  &-square-xs {
    @extend %btnSizeXs;
  }

  &-square-2xs {
    @extend %btnSize2xs;
  }
}

.link-text{
  &-lg, &-md, &-sm, &-xs {
    @include mixins.justify_width(center, center, row, true);

    [class^=ico] {
      ~ .text {
        margin-left: 6px;
      }
    }


    .text {
      display: inline-block;
      vertical-align: top;
      color: variables.$colorGray80;
      letter-spacing: variables.$letterSpacing;
      font-weight: variables.$fontWeightMedium;

      ~[class^=ico] {
        vertical-align: top;
      }
    }

    &.color-blue {
      .text {
        color: variables.$colorBlue120 !important;

        ~[class^=ico] {
          background: variables.$colorBlue120;
        }
      }
    }
  }


  &-lg {
    .text {
      font-size: variables.$fontSizeLg;
      line-height: variables.$fontSizeLgLineHeight;

      //~[class^=ico] {
      //  margin-top: 2.5px;
      //}
    }
  }

  &-md {
    .text {
      font-size: variables.$fontSizeMd;
      line-height: variables.$fontSizeMdLineHeight;

      //~[class^=ico] {
      //  margin-top: 2px;
      //}
    }
  }

  &-sm {
    .text {
      font-size: variables.$fontSizeSm;
      line-height: variables.$fontSizeSmLineHeight;

      //~[class^=ico] {
      //  margin-top: 1px;
      //}
    }
  }

  &-xs {
    .text {
      font-size: variables.$fontSizeXs;
      line-height: variables.$fontSizeXsLineHeight;
    }
  }
}

.btn-box {
  height: 44px;
  border-radius: 12px;
  padding: 0 36px 0 16px;
  width: auto;
  justify-content: flex-start !important;
  position: relative;

  [class^=ico-arrow] {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  [class^=ico-]:not([class^=ico-arrow]){
    margin-right: 6px;
    flex: 0 0 16px;
  }

  .text {
    margin-right: 4px;
    text-align: left !important;
  }

  &.line-brown {
    .ico-arrow18 {
      background: variables.$colorBrown120;
    }
  }

  &.line-blue {
    .ico-arrow18 {
      background: variables.$colorBlue120;
    }
  }
}


%btnWrap {
  display: flex;
  gap: 6px;

  [class^=btn] {
    width: 100%;
  }
}

.btn-wrap {
  @extend %btnWrap;

  &.row {
    flex-direction: column;
    gap: 10px;
  }
}

.btn-wrap-md {
  @extend %btnWrap;
  margin-top: 20px;
}

.btn-wrap-lg {
  @extend %btnWrap;
  margin-top: 30px;
}