@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.offscreen {
  position: absolute !important;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px !important;
}