@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

%setFoldCommon {
  .fold-item {
    width: 100%;

    .fold-header {
      @include mixins.justify_width(center);
      position: relative;
      background-color: variables.$colorGray00;

      .btn-fold {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include mixins.justify_width(center, end);

        &:after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: top;
          @include mixins.ratio_images('../images/common/comm_ico_fold_arr_gray');
          @include mixins.prefix(transform, rotateZ(0));
          @include mixins.prefix(transition, transform 0.15s variables.$transEaseBounceBack);
        }
      }
    }

    .fold-content {
      display: none;
    }

    &.expanded {
      .fold-header {
        .btn-fold:after {
          @include mixins.prefix(transform, rotateZ(180deg));
        }
      }

      .fold-content {
        display: block;
      }
    }
  }
}

.fold-wrap {
  @extend %setFoldCommon;

  // type line
  .fold-line-list {
    /*@include mixins.justify_width(start, start, column);*/

    .fold-item {
      border-top: 1px solid variables.$colorGray30;

      .fold-header {
        padding: 16px 28px 16px 5px;
      }
    }
  }

  // type box
  .fold-box-list {
    .fold-item { // TODO: item 간 간격 확인 필요
      overflow: hidden;
      border-radius: 16px;
      background-color: variables.$colorGray00;

      .fold-header {
        padding: 20px 38px 20px 20px;
      }

      .fold-content {
        margin: 0 20px 20px;
        padding: 20px;
        border-radius: 12px;
        background-color: variables.$colorGray20;
      }
    }
  }
}