@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

/* form - input */
/* ui-input */
.ui-input {
  @include mixins.font_size_md;
  width: 100%;
  border: 0;
  color: variables.$colorGray100;
  background: variables.$colorGray00;
  outline: none;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;


  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &[type=number] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      margin: 0;
    }
  }

  &[type=date], &[type=month], &[type=time], &[type=week] {
    &::-webkit-calendar-picker-indicator {
      background: none;
    }
  }

  &[type=search] {
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
      width: 0;
      height: 0;
    }
  }

  &::placeholder {
    color: variables.$colorGray70;
  }
}

.input-group, .ui-select, .valid-check {
  +.input-group, +.ui-select {
    margin-top: 6px;
  }
}

%inputBox {
  @include mixins.justify_width;
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid variables.$colorGray40;
  background-color: variables.$colorGray00;

  .btn-input-del {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('/assets/images/common/comm_ico_delete_h18');
    margin: 12px 0 0 10px;
    display: none;
  }

  .btn-input-search {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    @include mixins.ratio_images('/assets/images/common/comm_ico_search_h18');
    margin: 12px 20px 0 10px;
  }

  &.has-value {
    .btn-input-del {
      display: block;
    }
  }

  &:focus-within {
    transition : border 0.2s ease-out;
  }
}

.input-group {
  .input-guide {
    margin-top: 6px;
    @include mixins.font_size_md;
    color: variables.$colorGray70;
  }
}

.valid-check {
  .valid-desc {
    @include mixins.font_size_md;
    margin-top: 6px;
    display: none;
  }

  &.fail {
    .input-box, .textarea-box {
      border-color: variables.$colorRed;
    }

    .valid-desc {
      @include mixins.font_size_md;
      color: variables.$colorRed;
      display: block;
    }
  }
}

.input-box,
.input-search-box {
  @extend %inputBox;

  .ui-input {
    height: 100%;

    &.right {
      text-align: right;
    }
  }

  .btn-input-del {
    margin-top: 12px;
  }
}

//input-box
.input-box {
  height: 44px;
  padding: 0 19px;

  &:has(.ui-input:disabled) {
    background-color: variables.$colorGray10;
    border-color: variables.$colorGray30;

    .ui-input {
      color: variables.$colorGray60;
      background-color: variables.$colorGray10;
    }
  }

  &:focus-within {
    border:1px solid variables.$colorBlue100;
  }
}

.input-search-box {
  height: 44px;
  border: 1px solid variables.$colorGray60;
  padding-left: 20px;

  &:has(.ui-input:disabled) {
    background-color: variables.$colorGray10;
    border-color: variables.$colorGray60;

    .ui-input {
      background-color: variables.$colorGray10;
    }

    .text {
      color: variables.$colorGray60;
    }
  }

  &:focus-within {
    border: 1px solid variables.$colorGray90;
  }

  .ui-input {
    padding: 0;
  }
}

.input-flex-box {
  @include mixins.justify_width(center, stretch, row);
  flex-wrap: wrap;

  .gap {
    margin-left: 4px;
    @include mixins.font_size_md;
  }

  .input-group, .ui-select {
    &~.ui-select {
      margin-left: 4px;
    }
  }

  .input-group, .ui-select {
    flex: 1;

    .input-box, select {
      height: 50px;
    }
  }
}

/* textarea */
.textarea-box {
  position: relative;
  min-height: 100px;
  overflow: hidden;
  flex-direction: column;
  @include mixins.justify_width(start, start, column);
  border: 1px solid variables.$colorGray40;
  border-radius: 12px;

  +.textarea-box, +.valid-check {
    margin-top: 6px;
  }

  &:has(.ui-textarea:disabled) {
    background-color: variables.$colorGray10;
    border-color: variables.$colorGray60;
  }

  .ui-textarea {
    border: 0;
    outline: none;
    box-shadow: none;
    resize: none;
    padding: 20px 20px 10px;
    background: none;
    flex: 1 1 0;
    @include mixins.font_size_md;
  }

  &:focus-within {
    border: 1px solid variables.$colorBlue100;
  }

  .count-check {
    @include mixins.font_size_md;
    width: 100%;
    text-align: right;
    padding: 0 20px 20px;

    .count {
      color: variables.$colorBlue120;
      font-weight: 500;
    }
    .total {
      color: variables.$colorGray60;

      &::before {
        content: '/';
      }
    }
  }
}

/* select */
.ui-select{
  select {
    outline: none;
    border: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 44px;
    padding: 12px 48px 12px 20px;
    border-radius: 22px;
    border: 1px solid variables.$colorGray40;
    @include mixins.ratio_images('/assets/images/common/comm_ico_arrow_h18',18px, right 20px center);
    background-color: variables.$colorGray00;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    @include mixins.font_size_md;
    color: variables.$colorGray100;

    &:invalid {
      color: variables.$colorGray70;
    }

    &:focus {
      border-color: variables.$colorBlue100;
      transition : border 0.2s ease-out;
    }

    &::selection {
      color: variables.$colorGray100;
    }

    &[disabled], &[aria-disabled], &[readonly] {
      background-color: variables.$colorGray10;
      color: variables.$colorGray60;
      transition: background-color 0.2s ease-out;
    }

    &:has(option.selected) {
      color: variables.$colorGray100;
    }
  }
}

/* form - radio, checkbox */
%rdoChkReset {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: top;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    + label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      vertical-align: top;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.ui-chk, .ui-rdo {
  @extend %rdoChkReset;
  min-height: 24px;

  input {
    + label {
      padding-left: 24px;
      min-height: 24px;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        text-align: center;
        box-sizing: border-box;
      }

      > .text {
        display: inline-block;
        margin-left: 6px;
        @include mixins.font_size_md;
        color: variables.$colorGray100;
        vertical-align: top;
        line-height: 24px;

        &-sm {
          @include mixins.font_size_sm;
          line-height: 24px;
          margin-left: 6px;
        }
      }
    }

    &[disabled],
    &[aria-disabled],
    &[readonly] {
      & + label {
        pointer-events: none;

        &:before {
          border: 1px solid variables.$colorGray40;
          background-color: variables.$colorGray10;
        }

        [class^=text] {
          color: variables.$colorGray60;
        }
      }
    }

    &[disabled],
    &[aria-disabled],
    &[readonly] {
      + label::before {
        opacity: 0.4;
      }
    }

    &:checked {
      & + label {
        &::before {
          background-color: variables.$colorGray80;
          border-color: variables.$colorGray80;
        }
      }
    }
  }
}

.ui-chk {
  input {
    + label {
      &::before {
        border: 1px solid variables.$colorGray40;
        background-color: variables.$colorGray00;
        border-radius: 6px;
      }

      &::after {
        display: inline-block;
        width: 12px;
        height: 10px;
        background: variables.$colorGray50;
        -webkit-mask-image: url('/assets/images/common/comm_ico_chk_h10.svg');
        mask-image: url('/assets/images/common/comm_ico_chk_h10.svg');
        mask-repeat: no-repeat;
        left: 6px;
      }
    }

    &:checked + label {
      &::before {
        transition: all 0.15s ease-out;
        background-color: variables.$colorGray90;
        border-color: variables.$colorGray90;
      }

      &::after {
        display: inline-block;
        width: 12px;
        height: 10px;
        background: variables.$colorGray00;
        -webkit-mask-image: url('/assets/images/common/comm_ico_chk_h10.svg');
        mask-image: url('/assets/images/common/comm_ico_chk_h10.svg');
        mask-repeat: no-repeat;
      }
    }
  }
}

.ui-rdo {
  input {
    + label {
      &::before {
        border: 1px solid variables.$colorGray40;
        background-color: variables.$colorGray00;
        border-radius: 50%;
      }

      &::after {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: variables.$colorGray50;
        left: 7px;
      }
    }

    &:checked + label {
      &::before {
        transition: all 0.15s ease-out;
        background-color: variables.$colorGray90;
        border-color: variables.$colorGray90;
      }

      &::after {
        background-color: variables.$colorGray00;
      }
    }

    &[disabled],
    &[aria-disabled],
    &[readonly] {
      & + label {
        &:before {
          background-color: variables.$colorGray00;
        }
      }
    }

    &:checked {
      & + label {
        &::before {
          background-color: variables.$colorGray80;
          border-color: variables.$colorGray80;
        }
      }
    }
  }
}


.ui-toggle {
  @extend %rdoChkReset;
  min-height: 26px;

  input {
    + label {
      padding-left: 48px;
      min-height: 26px;

      &::before,
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        box-sizing: border-box;
      }


      &::before {
        width: 48px;
        height: 26px;
        background-color: variables.$colorGray40;
        border: 1px solid variables.$colorGray40;
        border-radius: 21px;
      }

      &::after {
        width: 20px;
        height: 20px;
        background-color: variables.$colorGray00;
        border: 1px solid variables.$colorGray00;
        border-radius: 50%;
        left: 3px;
        transition: all .3s ease-in-out;
      }

      .text {
        @include mixins.font_size_md('md',26px);
        color: variables.$colorGray100;
        margin-left: 6px;
      }
    }

    &[disabled],
    &[aria-disabled],
    &[readonly] {
      + label:before {
        opacity: 0.4;
      }
    }

    &:checked + label {
      &::before {
        background-color: variables.$colorBlue100;
        border: 1px solid variables.$colorBlue100;
      }

      &::after {
        left: 25px;
      }
    }
  }
}

.ui-col-list {
  @include mixins.justify_width(start, start, column);

  .item {
    ~ .item {
      margin-top: 10px;
    }
  }
}
