@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

%icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.header-wrapper {
  [class^=ico-] {
    @extend %icon;
  }
}

.ico-arrow16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  background: variables.$colorGray80;
  -webkit-mask-image: url('/assets/images/common/comm_ico_arrow_gray_h16.svg');
  mask-image: url('/assets/images/common/comm_ico_arrow_gray_h16.svg');
}

.ico-arrow18 {
  @extend %icon;
  width: 18px;
  height: 18px;
  background: variables.$colorGray80;
  -webkit-mask-image: url('/assets/images/common/comm_ico_arrow_brown_h18.svg');
  mask-image: url('/assets/images/common/comm_ico_arrow_brown_h18.svg');
  mask-repeat: no-repeat;
}

.ico-plus18 {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_plus_h18');
}

.ico-coupon18 {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_coupon_h18');
}

.ico-close16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_close_gray_h16');
}

.ico-money16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_money_h16');
}

.ico-reward16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_reward_h16');
}

.ico-wallet16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_wallet_h16');
}