@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

%icon {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

[class^=ico-] {
  @extend %icon;

  &[class$="arrow16"] {
    width: 16px;
    height: 16px;
    @include mixins.mask_images('/assets/images/common/comm_ico_arrow_h16');

    &[class*="gray-"] {
      background-color: variables.$colorGray80;
    }

    &[class*="blue-"] {
      background-color: variables.$colorBlue120;
    }
  }

  &[class$="arrow18"] {
    width: 18px;
    height: 18px;
    @include mixins.mask_images('/assets/images/common/comm_ico_arrow_h16');

    &[class*="gray-"] {
      background-color: variables.$colorGray80;
    }
  }

  &[class$="plus18"] {
    width: 18px;
    height: 18px;
    @include mixins.mask_images('/assets/images/common/comm_ico_plus_h18',variables.$colorGray70);
  }

  &[class$="close16"] {
    width: 16px;
    height: 16px;
    @include mixins.mask_images('/assets/images/common/comm_ico_close__h16',variables.$colorGray80);
  }
}

.ico-coupon18 {
  @extend %icon;
  width: 18px;
  height: 18px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_coupon_h18');
}

.ico-money16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_money_h16');
}

.ico-reward16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_reward_h16');
}

.ico-wallet16 {
  @extend %icon;
  width: 16px;
  height: 16px;
  @include mixins.ratio_images('/assets/images/common/comm_ico_wallet_h16');
}