@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.no-data-wrap {
  text-align: center;
  padding-top: 150px;

  [class^=ico] {
    ~ .no-data-desc {
      margin-top: 10px;
      @include mixins.font_size_md;
      color: variables.$colorGray70;

      ~.btn-wrap {
        margin-top: 16px;
      }
    }
  }
}