@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.row-list {
  &-lg {
    .row-item {
      ~.row-item {
        margin-top: 30px;
      }
    }
  }

  &-md {
    .row-item {
      ~.row-item {
        margin-top: 20px;
      }
    }
  }

  &-sm {
    .row-item {
      ~.row-item {
        margin-top: 16px;
      }
    }
  }

  &-xs {
    .row-item {
      ~.row-item {
        margin-top: 12px;
      }
    }
  }
}