@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.wrapper {
  min-height: var(--reVh);
}
.container-wrapper {
  [class*="cont-box"] {
    &:last-of-type {
      [class*="btn-wrap"] {
        &:last-of-type {
          margin: {
            left: -5px;
            right: -5px;
          }
        }
      }
    }
  }
}