@charset "UTF-8";
/* Grayscale */
/* Primary */
/* Font Vari */
.ico-wallet16, .ico-reward16, .ico-money16, .ico-close16, .ico-coupon18, .ico-plus18, .ico-arrow18, .ico-arrow16, .header-wrapper [class^=ico-] {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.ico-arrow16 {
  width: 16px;
  height: 16px;
  background: #666;
  -webkit-mask-image: url("/assets/images/common/comm_ico_arrow_gray_h16.svg");
  mask-image: url("/assets/images/common/comm_ico_arrow_gray_h16.svg");
}

.ico-arrow18 {
  width: 18px;
  height: 18px;
  background: #666;
  -webkit-mask-image: url("/assets/images/common/comm_ico_arrow_brown_h18.svg");
  mask-image: url("/assets/images/common/comm_ico_arrow_brown_h18.svg");
  mask-repeat: no-repeat;
}

.ico-plus18 {
  width: 18px;
  height: 18px;
  background: url("/assets/images/common/comm_ico_plus_h18.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-coupon18 {
  width: 18px;
  height: 18px;
  background: url("/assets/images/common/comm_ico_coupon_h18.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-close16 {
  width: 16px;
  height: 16px;
  background: url("/assets/images/common/comm_ico_close_gray_h16.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-money16 {
  width: 16px;
  height: 16px;
  background: url("/assets/images/common/comm_ico_money_h16.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-reward16 {
  width: 16px;
  height: 16px;
  background: url("/assets/images/common/comm_ico_reward_h16.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-wallet16 {
  width: 16px;
  height: 16px;
  background: url("/assets/images/common/comm_ico_wallet_h16.svg") 0 0 no-repeat;
  background-size: cover;
}

.ico-close16 {
  width: 16px;
  height: 16px;
  background: url("/assets/images/common/comm_ico_close_h16.svg") 0 0 no-repeat;
  background-size: cover;
}

/* button */
a, button {
  /* 버튼 공통 */
}
a[disabled], a[aria-disabled=true], a.disabled, button[disabled], button[aria-disabled=true], button.disabled {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
}
a[disabled] *, a[aria-disabled=true] *, a.disabled *, button[disabled] *, button[aria-disabled=true] *, button.disabled * {
  text-decoration: none !important;
}
a[class^=btn], button[class^=btn] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
}
a[class^=btn] .text, button[class^=btn] .text {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
a[class^=link-], button[class^=link-] {
  -webkit-touch-callout: none;
}

/* size */
button.btn-square-lg, a.btn-square-lg, button.btn-lg, a.btn-lg {
  height: 54px;
  padding: 0 23px;
}
button.btn-square-lg .text, a.btn-square-lg .text, button.btn-lg .text, a.btn-lg .text {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
button.btn-square-lg [class^=ico], a.btn-square-lg [class^=ico], button.btn-lg [class^=ico], a.btn-lg [class^=ico] {
  width: 18px;
  height: 18px;
}
button.btn-square-lg [class^=ico] ~ .text, a.btn-square-lg [class^=ico] ~ .text, button.btn-lg [class^=ico] ~ .text, a.btn-lg [class^=ico] ~ .text {
  margin-left: 4px;
}

button.btn-square-md, a.btn-square-md, button.btn-md, a.btn-md {
  height: 44px;
  padding: 0 19px;
}
button.btn-square-md .text, a.btn-square-md .text, button.btn-md .text, a.btn-md .text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
button.btn-square-md .text ~ [class^=ico], a.btn-square-md .text ~ [class^=ico], button.btn-md .text ~ [class^=ico], a.btn-md .text ~ [class^=ico] {
  margin-left: 4px;
}
button.btn-square-md [class^=ico] ~ .text, a.btn-square-md [class^=ico] ~ .text, button.btn-md [class^=ico] ~ .text, a.btn-md [class^=ico] ~ .text {
  margin-left: 4px;
}

button.btn-square-sm, a.btn-square-sm, button.btn-sm, a.btn-sm {
  height: 36px;
  padding: 0 15px;
}
button.btn-square-sm .text, a.btn-square-sm .text, button.btn-sm .text, a.btn-sm .text {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
button.btn-square-sm .text ~ [class^=ico], a.btn-square-sm .text ~ [class^=ico], button.btn-sm .text ~ [class^=ico], a.btn-sm .text ~ [class^=ico] {
  margin-left: 4px;
}
button.btn-square-sm [class^=ico], a.btn-square-sm [class^=ico], button.btn-sm [class^=ico], a.btn-sm [class^=ico] {
  width: 18px;
  height: 18px;
}
button.btn-square-sm [class^=ico] ~ .text, a.btn-square-sm [class^=ico] ~ .text, button.btn-sm [class^=ico] ~ .text, a.btn-sm [class^=ico] ~ .text {
  margin-left: 4px;
}

button.btn-square-xs, a.btn-square-xs, button.btn-xs, a.btn-xs {
  height: 32px;
  padding: 0 15px;
}
button.btn-square-xs .text, a.btn-square-xs .text, button.btn-xs .text, a.btn-xs .text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

button.btn-square-2xs, a.btn-square-2xs, button.btn-2xs, a.btn-2xs {
  height: 30px;
  padding: 0 11px;
}
button.btn-square-2xs .text, a.btn-square-2xs .text, button.btn-2xs .text, a.btn-2xs .text {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

/* size */
button.btn-lg[disabled], button.btn-lg[aria-disabled=true], button.btn-lg.disabled, button.btn-md[disabled], button.btn-md[aria-disabled=true], button.btn-md.disabled, button.btn-sm[disabled], button.btn-sm[aria-disabled=true], button.btn-sm.disabled, button.btn-xs[disabled], button.btn-xs[aria-disabled=true], button.btn-xs.disabled, button.btn-2xs[disabled], button.btn-2xs[aria-disabled=true], button.btn-2xs.disabled, button.btn-square-lg[disabled], button.btn-square-lg[aria-disabled=true], button.btn-square-lg.disabled, button.btn-square-md[disabled], button.btn-square-md[aria-disabled=true], button.btn-square-md.disabled, button.btn-square-sm[disabled], button.btn-square-sm[aria-disabled=true], button.btn-square-sm.disabled, button.btn-square-xs[disabled], button.btn-square-xs[aria-disabled=true], button.btn-square-xs.disabled, button.btn-square-2xs[disabled], button.btn-square-2xs[aria-disabled=true], button.btn-square-2xs.disabled, button.btn-box[disabled], button.btn-box[aria-disabled=true], button.btn-box.disabled, a.btn-lg[disabled], a.btn-lg[aria-disabled=true], a.btn-lg.disabled, a.btn-md[disabled], a.btn-md[aria-disabled=true], a.btn-md.disabled, a.btn-sm[disabled], a.btn-sm[aria-disabled=true], a.btn-sm.disabled, a.btn-xs[disabled], a.btn-xs[aria-disabled=true], a.btn-xs.disabled, a.btn-2xs[disabled], a.btn-2xs[aria-disabled=true], a.btn-2xs.disabled, a.btn-square-lg[disabled], a.btn-square-lg[aria-disabled=true], a.btn-square-lg.disabled, a.btn-square-md[disabled], a.btn-square-md[aria-disabled=true], a.btn-square-md.disabled, a.btn-square-sm[disabled], a.btn-square-sm[aria-disabled=true], a.btn-square-sm.disabled, a.btn-square-xs[disabled], a.btn-square-xs[aria-disabled=true], a.btn-square-xs.disabled, a.btn-square-2xs[disabled], a.btn-square-2xs[aria-disabled=true], a.btn-square-2xs.disabled, a.btn-box[disabled], a.btn-box[aria-disabled=true], a.btn-box.disabled {
  opacity: 0.4;
}
button.btn-lg.blue100, button.btn-md.blue100, button.btn-sm.blue100, button.btn-xs.blue100, button.btn-2xs.blue100, button.btn-square-lg.blue100, button.btn-square-md.blue100, button.btn-square-sm.blue100, button.btn-square-xs.blue100, button.btn-square-2xs.blue100, button.btn-box.blue100, a.btn-lg.blue100, a.btn-md.blue100, a.btn-sm.blue100, a.btn-xs.blue100, a.btn-2xs.blue100, a.btn-square-lg.blue100, a.btn-square-md.blue100, a.btn-square-sm.blue100, a.btn-square-xs.blue100, a.btn-square-2xs.blue100, a.btn-box.blue100 {
  background-color: #6987A1;
  border: 1px solid #6987A1;
}
button.btn-lg.blue100 .text, button.btn-md.blue100 .text, button.btn-sm.blue100 .text, button.btn-xs.blue100 .text, button.btn-2xs.blue100 .text, button.btn-square-lg.blue100 .text, button.btn-square-md.blue100 .text, button.btn-square-sm.blue100 .text, button.btn-square-xs.blue100 .text, button.btn-square-2xs.blue100 .text, button.btn-box.blue100 .text, a.btn-lg.blue100 .text, a.btn-md.blue100 .text, a.btn-sm.blue100 .text, a.btn-xs.blue100 .text, a.btn-2xs.blue100 .text, a.btn-square-lg.blue100 .text, a.btn-square-md.blue100 .text, a.btn-square-sm.blue100 .text, a.btn-square-xs.blue100 .text, a.btn-square-2xs.blue100 .text, a.btn-box.blue100 .text {
  color: #FFF;
}
button.btn-lg.blue100:active, button.btn-lg.blue100:hover, button.btn-md.blue100:active, button.btn-md.blue100:hover, button.btn-sm.blue100:active, button.btn-sm.blue100:hover, button.btn-xs.blue100:active, button.btn-xs.blue100:hover, button.btn-2xs.blue100:active, button.btn-2xs.blue100:hover, button.btn-square-lg.blue100:active, button.btn-square-lg.blue100:hover, button.btn-square-md.blue100:active, button.btn-square-md.blue100:hover, button.btn-square-sm.blue100:active, button.btn-square-sm.blue100:hover, button.btn-square-xs.blue100:active, button.btn-square-xs.blue100:hover, button.btn-square-2xs.blue100:active, button.btn-square-2xs.blue100:hover, button.btn-box.blue100:active, button.btn-box.blue100:hover, a.btn-lg.blue100:active, a.btn-lg.blue100:hover, a.btn-md.blue100:active, a.btn-md.blue100:hover, a.btn-sm.blue100:active, a.btn-sm.blue100:hover, a.btn-xs.blue100:active, a.btn-xs.blue100:hover, a.btn-2xs.blue100:active, a.btn-2xs.blue100:hover, a.btn-square-lg.blue100:active, a.btn-square-lg.blue100:hover, a.btn-square-md.blue100:active, a.btn-square-md.blue100:hover, a.btn-square-sm.blue100:active, a.btn-square-sm.blue100:hover, a.btn-square-xs.blue100:active, a.btn-square-xs.blue100:hover, a.btn-square-2xs.blue100:active, a.btn-square-2xs.blue100:hover, a.btn-box.blue100:active, a.btn-box.blue100:hover {
  background-color: #536F86;
}
button.btn-lg.blue10, button.btn-md.blue10, button.btn-sm.blue10, button.btn-xs.blue10, button.btn-2xs.blue10, button.btn-square-lg.blue10, button.btn-square-md.blue10, button.btn-square-sm.blue10, button.btn-square-xs.blue10, button.btn-square-2xs.blue10, button.btn-box.blue10, a.btn-lg.blue10, a.btn-md.blue10, a.btn-sm.blue10, a.btn-xs.blue10, a.btn-2xs.blue10, a.btn-square-lg.blue10, a.btn-square-md.blue10, a.btn-square-sm.blue10, a.btn-square-xs.blue10, a.btn-square-2xs.blue10, a.btn-box.blue10 {
  background-color: #F0F4F5;
  border: 1px solid #F0F4F5;
}
button.btn-lg.blue10 .text, button.btn-md.blue10 .text, button.btn-sm.blue10 .text, button.btn-xs.blue10 .text, button.btn-2xs.blue10 .text, button.btn-square-lg.blue10 .text, button.btn-square-md.blue10 .text, button.btn-square-sm.blue10 .text, button.btn-square-xs.blue10 .text, button.btn-square-2xs.blue10 .text, button.btn-box.blue10 .text, a.btn-lg.blue10 .text, a.btn-md.blue10 .text, a.btn-sm.blue10 .text, a.btn-xs.blue10 .text, a.btn-2xs.blue10 .text, a.btn-square-lg.blue10 .text, a.btn-square-md.blue10 .text, a.btn-square-sm.blue10 .text, a.btn-square-xs.blue10 .text, a.btn-square-2xs.blue10 .text, a.btn-box.blue10 .text {
  color: #536F86;
}
button.btn-lg.blue10:active, button.btn-lg.blue10:hover, button.btn-md.blue10:active, button.btn-md.blue10:hover, button.btn-sm.blue10:active, button.btn-sm.blue10:hover, button.btn-xs.blue10:active, button.btn-xs.blue10:hover, button.btn-2xs.blue10:active, button.btn-2xs.blue10:hover, button.btn-square-lg.blue10:active, button.btn-square-lg.blue10:hover, button.btn-square-md.blue10:active, button.btn-square-md.blue10:hover, button.btn-square-sm.blue10:active, button.btn-square-sm.blue10:hover, button.btn-square-xs.blue10:active, button.btn-square-xs.blue10:hover, button.btn-square-2xs.blue10:active, button.btn-square-2xs.blue10:hover, button.btn-box.blue10:active, button.btn-box.blue10:hover, a.btn-lg.blue10:active, a.btn-lg.blue10:hover, a.btn-md.blue10:active, a.btn-md.blue10:hover, a.btn-sm.blue10:active, a.btn-sm.blue10:hover, a.btn-xs.blue10:active, a.btn-xs.blue10:hover, a.btn-2xs.blue10:active, a.btn-2xs.blue10:hover, a.btn-square-lg.blue10:active, a.btn-square-lg.blue10:hover, a.btn-square-md.blue10:active, a.btn-square-md.blue10:hover, a.btn-square-sm.blue10:active, a.btn-square-sm.blue10:hover, a.btn-square-xs.blue10:active, a.btn-square-xs.blue10:hover, a.btn-square-2xs.blue10:active, a.btn-square-2xs.blue10:hover, a.btn-box.blue10:active, a.btn-box.blue10:hover {
  background-color: #E4E9EA;
  border-color: #E4E9EA;
}
button.btn-lg.gray90, button.btn-md.gray90, button.btn-sm.gray90, button.btn-xs.gray90, button.btn-2xs.gray90, button.btn-square-lg.gray90, button.btn-square-md.gray90, button.btn-square-sm.gray90, button.btn-square-xs.gray90, button.btn-square-2xs.gray90, button.btn-box.gray90, a.btn-lg.gray90, a.btn-md.gray90, a.btn-sm.gray90, a.btn-xs.gray90, a.btn-2xs.gray90, a.btn-square-lg.gray90, a.btn-square-md.gray90, a.btn-square-sm.gray90, a.btn-square-xs.gray90, a.btn-square-2xs.gray90, a.btn-box.gray90 {
  background-color: #333;
  border: 1px solid #333;
}
button.btn-lg.gray90 .text, button.btn-md.gray90 .text, button.btn-sm.gray90 .text, button.btn-xs.gray90 .text, button.btn-2xs.gray90 .text, button.btn-square-lg.gray90 .text, button.btn-square-md.gray90 .text, button.btn-square-sm.gray90 .text, button.btn-square-xs.gray90 .text, button.btn-square-2xs.gray90 .text, button.btn-box.gray90 .text, a.btn-lg.gray90 .text, a.btn-md.gray90 .text, a.btn-sm.gray90 .text, a.btn-xs.gray90 .text, a.btn-2xs.gray90 .text, a.btn-square-lg.gray90 .text, a.btn-square-md.gray90 .text, a.btn-square-sm.gray90 .text, a.btn-square-xs.gray90 .text, a.btn-square-2xs.gray90 .text, a.btn-box.gray90 .text {
  color: #FFF;
}
button.btn-lg.gray90:active, button.btn-lg.gray90:hover, button.btn-md.gray90:active, button.btn-md.gray90:hover, button.btn-sm.gray90:active, button.btn-sm.gray90:hover, button.btn-xs.gray90:active, button.btn-xs.gray90:hover, button.btn-2xs.gray90:active, button.btn-2xs.gray90:hover, button.btn-square-lg.gray90:active, button.btn-square-lg.gray90:hover, button.btn-square-md.gray90:active, button.btn-square-md.gray90:hover, button.btn-square-sm.gray90:active, button.btn-square-sm.gray90:hover, button.btn-square-xs.gray90:active, button.btn-square-xs.gray90:hover, button.btn-square-2xs.gray90:active, button.btn-square-2xs.gray90:hover, button.btn-box.gray90:active, button.btn-box.gray90:hover, a.btn-lg.gray90:active, a.btn-lg.gray90:hover, a.btn-md.gray90:active, a.btn-md.gray90:hover, a.btn-sm.gray90:active, a.btn-sm.gray90:hover, a.btn-xs.gray90:active, a.btn-xs.gray90:hover, a.btn-2xs.gray90:active, a.btn-2xs.gray90:hover, a.btn-square-lg.gray90:active, a.btn-square-lg.gray90:hover, a.btn-square-md.gray90:active, a.btn-square-md.gray90:hover, a.btn-square-sm.gray90:active, a.btn-square-sm.gray90:hover, a.btn-square-xs.gray90:active, a.btn-square-xs.gray90:hover, a.btn-square-2xs.gray90:active, a.btn-square-2xs.gray90:hover, a.btn-box.gray90:active, a.btn-box.gray90:hover {
  background-color: #666;
  border-color: #666;
}
button.btn-lg.gray20, button.btn-md.gray20, button.btn-sm.gray20, button.btn-xs.gray20, button.btn-2xs.gray20, button.btn-square-lg.gray20, button.btn-square-md.gray20, button.btn-square-sm.gray20, button.btn-square-xs.gray20, button.btn-square-2xs.gray20, button.btn-box.gray20, a.btn-lg.gray20, a.btn-md.gray20, a.btn-sm.gray20, a.btn-xs.gray20, a.btn-2xs.gray20, a.btn-square-lg.gray20, a.btn-square-md.gray20, a.btn-square-sm.gray20, a.btn-square-xs.gray20, a.btn-square-2xs.gray20, a.btn-box.gray20 {
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
}
button.btn-lg.gray20 .text, button.btn-md.gray20 .text, button.btn-sm.gray20 .text, button.btn-xs.gray20 .text, button.btn-2xs.gray20 .text, button.btn-square-lg.gray20 .text, button.btn-square-md.gray20 .text, button.btn-square-sm.gray20 .text, button.btn-square-xs.gray20 .text, button.btn-square-2xs.gray20 .text, button.btn-box.gray20 .text, a.btn-lg.gray20 .text, a.btn-md.gray20 .text, a.btn-sm.gray20 .text, a.btn-xs.gray20 .text, a.btn-2xs.gray20 .text, a.btn-square-lg.gray20 .text, a.btn-square-md.gray20 .text, a.btn-square-sm.gray20 .text, a.btn-square-xs.gray20 .text, a.btn-square-2xs.gray20 .text, a.btn-box.gray20 .text {
  color: #666;
}
button.btn-lg.gray20:active, button.btn-lg.gray20:hover, button.btn-md.gray20:active, button.btn-md.gray20:hover, button.btn-sm.gray20:active, button.btn-sm.gray20:hover, button.btn-xs.gray20:active, button.btn-xs.gray20:hover, button.btn-2xs.gray20:active, button.btn-2xs.gray20:hover, button.btn-square-lg.gray20:active, button.btn-square-lg.gray20:hover, button.btn-square-md.gray20:active, button.btn-square-md.gray20:hover, button.btn-square-sm.gray20:active, button.btn-square-sm.gray20:hover, button.btn-square-xs.gray20:active, button.btn-square-xs.gray20:hover, button.btn-square-2xs.gray20:active, button.btn-square-2xs.gray20:hover, button.btn-box.gray20:active, button.btn-box.gray20:hover, a.btn-lg.gray20:active, a.btn-lg.gray20:hover, a.btn-md.gray20:active, a.btn-md.gray20:hover, a.btn-sm.gray20:active, a.btn-sm.gray20:hover, a.btn-xs.gray20:active, a.btn-xs.gray20:hover, a.btn-2xs.gray20:active, a.btn-2xs.gray20:hover, a.btn-square-lg.gray20:active, a.btn-square-lg.gray20:hover, a.btn-square-md.gray20:active, a.btn-square-md.gray20:hover, a.btn-square-sm.gray20:active, a.btn-square-sm.gray20:hover, a.btn-square-xs.gray20:active, a.btn-square-xs.gray20:hover, a.btn-square-2xs.gray20:active, a.btn-square-2xs.gray20:hover, a.btn-box.gray20:active, a.btn-box.gray20:hover {
  background-color: #DDD;
  border-color: #DDD;
}
button.btn-lg.line-blue, button.btn-md.line-blue, button.btn-sm.line-blue, button.btn-xs.line-blue, button.btn-2xs.line-blue, button.btn-square-lg.line-blue, button.btn-square-md.line-blue, button.btn-square-sm.line-blue, button.btn-square-xs.line-blue, button.btn-square-2xs.line-blue, button.btn-box.line-blue, a.btn-lg.line-blue, a.btn-md.line-blue, a.btn-sm.line-blue, a.btn-xs.line-blue, a.btn-2xs.line-blue, a.btn-square-lg.line-blue, a.btn-square-md.line-blue, a.btn-square-sm.line-blue, a.btn-square-xs.line-blue, a.btn-square-2xs.line-blue, a.btn-box.line-blue {
  background-color: #FFF;
  border: 1px solid #6987A1;
}
button.btn-lg.line-blue .text, button.btn-md.line-blue .text, button.btn-sm.line-blue .text, button.btn-xs.line-blue .text, button.btn-2xs.line-blue .text, button.btn-square-lg.line-blue .text, button.btn-square-md.line-blue .text, button.btn-square-sm.line-blue .text, button.btn-square-xs.line-blue .text, button.btn-square-2xs.line-blue .text, button.btn-box.line-blue .text, a.btn-lg.line-blue .text, a.btn-md.line-blue .text, a.btn-sm.line-blue .text, a.btn-xs.line-blue .text, a.btn-2xs.line-blue .text, a.btn-square-lg.line-blue .text, a.btn-square-md.line-blue .text, a.btn-square-sm.line-blue .text, a.btn-square-xs.line-blue .text, a.btn-square-2xs.line-blue .text, a.btn-box.line-blue .text {
  color: #536F86;
}
button.btn-lg.line-blue:active, button.btn-lg.line-blue:hover, button.btn-md.line-blue:active, button.btn-md.line-blue:hover, button.btn-sm.line-blue:active, button.btn-sm.line-blue:hover, button.btn-xs.line-blue:active, button.btn-xs.line-blue:hover, button.btn-2xs.line-blue:active, button.btn-2xs.line-blue:hover, button.btn-square-lg.line-blue:active, button.btn-square-lg.line-blue:hover, button.btn-square-md.line-blue:active, button.btn-square-md.line-blue:hover, button.btn-square-sm.line-blue:active, button.btn-square-sm.line-blue:hover, button.btn-square-xs.line-blue:active, button.btn-square-xs.line-blue:hover, button.btn-square-2xs.line-blue:active, button.btn-square-2xs.line-blue:hover, button.btn-box.line-blue:active, button.btn-box.line-blue:hover, a.btn-lg.line-blue:active, a.btn-lg.line-blue:hover, a.btn-md.line-blue:active, a.btn-md.line-blue:hover, a.btn-sm.line-blue:active, a.btn-sm.line-blue:hover, a.btn-xs.line-blue:active, a.btn-xs.line-blue:hover, a.btn-2xs.line-blue:active, a.btn-2xs.line-blue:hover, a.btn-square-lg.line-blue:active, a.btn-square-lg.line-blue:hover, a.btn-square-md.line-blue:active, a.btn-square-md.line-blue:hover, a.btn-square-sm.line-blue:active, a.btn-square-sm.line-blue:hover, a.btn-square-xs.line-blue:active, a.btn-square-xs.line-blue:hover, a.btn-square-2xs.line-blue:active, a.btn-square-2xs.line-blue:hover, a.btn-box.line-blue:active, a.btn-box.line-blue:hover {
  background-color: #F0F4F5;
}
button.btn-lg.line-brown, button.btn-md.line-brown, button.btn-sm.line-brown, button.btn-xs.line-brown, button.btn-2xs.line-brown, button.btn-square-lg.line-brown, button.btn-square-md.line-brown, button.btn-square-sm.line-brown, button.btn-square-xs.line-brown, button.btn-square-2xs.line-brown, button.btn-box.line-brown, a.btn-lg.line-brown, a.btn-md.line-brown, a.btn-sm.line-brown, a.btn-xs.line-brown, a.btn-2xs.line-brown, a.btn-square-lg.line-brown, a.btn-square-md.line-brown, a.btn-square-sm.line-brown, a.btn-square-xs.line-brown, a.btn-square-2xs.line-brown, a.btn-box.line-brown {
  background-color: #FFF;
  border: 1px solid #B09785;
}
button.btn-lg.line-brown .text, button.btn-md.line-brown .text, button.btn-sm.line-brown .text, button.btn-xs.line-brown .text, button.btn-2xs.line-brown .text, button.btn-square-lg.line-brown .text, button.btn-square-md.line-brown .text, button.btn-square-sm.line-brown .text, button.btn-square-xs.line-brown .text, button.btn-square-2xs.line-brown .text, button.btn-box.line-brown .text, a.btn-lg.line-brown .text, a.btn-md.line-brown .text, a.btn-sm.line-brown .text, a.btn-xs.line-brown .text, a.btn-2xs.line-brown .text, a.btn-square-lg.line-brown .text, a.btn-square-md.line-brown .text, a.btn-square-sm.line-brown .text, a.btn-square-xs.line-brown .text, a.btn-square-2xs.line-brown .text, a.btn-box.line-brown .text {
  color: #907C6B;
}
button.btn-lg.line-brown:active, button.btn-lg.line-brown:hover, button.btn-md.line-brown:active, button.btn-md.line-brown:hover, button.btn-sm.line-brown:active, button.btn-sm.line-brown:hover, button.btn-xs.line-brown:active, button.btn-xs.line-brown:hover, button.btn-2xs.line-brown:active, button.btn-2xs.line-brown:hover, button.btn-square-lg.line-brown:active, button.btn-square-lg.line-brown:hover, button.btn-square-md.line-brown:active, button.btn-square-md.line-brown:hover, button.btn-square-sm.line-brown:active, button.btn-square-sm.line-brown:hover, button.btn-square-xs.line-brown:active, button.btn-square-xs.line-brown:hover, button.btn-square-2xs.line-brown:active, button.btn-square-2xs.line-brown:hover, button.btn-box.line-brown:active, button.btn-box.line-brown:hover, a.btn-lg.line-brown:active, a.btn-lg.line-brown:hover, a.btn-md.line-brown:active, a.btn-md.line-brown:hover, a.btn-sm.line-brown:active, a.btn-sm.line-brown:hover, a.btn-xs.line-brown:active, a.btn-xs.line-brown:hover, a.btn-2xs.line-brown:active, a.btn-2xs.line-brown:hover, a.btn-square-lg.line-brown:active, a.btn-square-lg.line-brown:hover, a.btn-square-md.line-brown:active, a.btn-square-md.line-brown:hover, a.btn-square-sm.line-brown:active, a.btn-square-sm.line-brown:hover, a.btn-square-xs.line-brown:active, a.btn-square-xs.line-brown:hover, a.btn-square-2xs.line-brown:active, a.btn-square-2xs.line-brown:hover, a.btn-box.line-brown:active, a.btn-box.line-brown:hover {
  background-color: #EEEBEB;
}
button.btn-lg.line-gray40, button.btn-md.line-gray40, button.btn-sm.line-gray40, button.btn-xs.line-gray40, button.btn-2xs.line-gray40, button.btn-square-lg.line-gray40, button.btn-square-md.line-gray40, button.btn-square-sm.line-gray40, button.btn-square-xs.line-gray40, button.btn-square-2xs.line-gray40, button.btn-box.line-gray40, a.btn-lg.line-gray40, a.btn-md.line-gray40, a.btn-sm.line-gray40, a.btn-xs.line-gray40, a.btn-2xs.line-gray40, a.btn-square-lg.line-gray40, a.btn-square-md.line-gray40, a.btn-square-sm.line-gray40, a.btn-square-xs.line-gray40, a.btn-square-2xs.line-gray40, a.btn-box.line-gray40 {
  background-color: #FFF;
  border: 1px solid #DDD;
}
button.btn-lg.line-gray40 .text, button.btn-md.line-gray40 .text, button.btn-sm.line-gray40 .text, button.btn-xs.line-gray40 .text, button.btn-2xs.line-gray40 .text, button.btn-square-lg.line-gray40 .text, button.btn-square-md.line-gray40 .text, button.btn-square-sm.line-gray40 .text, button.btn-square-xs.line-gray40 .text, button.btn-square-2xs.line-gray40 .text, button.btn-box.line-gray40 .text, a.btn-lg.line-gray40 .text, a.btn-md.line-gray40 .text, a.btn-sm.line-gray40 .text, a.btn-xs.line-gray40 .text, a.btn-2xs.line-gray40 .text, a.btn-square-lg.line-gray40 .text, a.btn-square-md.line-gray40 .text, a.btn-square-sm.line-gray40 .text, a.btn-square-xs.line-gray40 .text, a.btn-square-2xs.line-gray40 .text, a.btn-box.line-gray40 .text {
  color: #666;
}
button.btn-lg.line-gray40:active, button.btn-lg.line-gray40:hover, button.btn-md.line-gray40:active, button.btn-md.line-gray40:hover, button.btn-sm.line-gray40:active, button.btn-sm.line-gray40:hover, button.btn-xs.line-gray40:active, button.btn-xs.line-gray40:hover, button.btn-2xs.line-gray40:active, button.btn-2xs.line-gray40:hover, button.btn-square-lg.line-gray40:active, button.btn-square-lg.line-gray40:hover, button.btn-square-md.line-gray40:active, button.btn-square-md.line-gray40:hover, button.btn-square-sm.line-gray40:active, button.btn-square-sm.line-gray40:hover, button.btn-square-xs.line-gray40:active, button.btn-square-xs.line-gray40:hover, button.btn-square-2xs.line-gray40:active, button.btn-square-2xs.line-gray40:hover, button.btn-box.line-gray40:active, button.btn-box.line-gray40:hover, a.btn-lg.line-gray40:active, a.btn-lg.line-gray40:hover, a.btn-md.line-gray40:active, a.btn-md.line-gray40:hover, a.btn-sm.line-gray40:active, a.btn-sm.line-gray40:hover, a.btn-xs.line-gray40:active, a.btn-xs.line-gray40:hover, a.btn-2xs.line-gray40:active, a.btn-2xs.line-gray40:hover, a.btn-square-lg.line-gray40:active, a.btn-square-lg.line-gray40:hover, a.btn-square-md.line-gray40:active, a.btn-square-md.line-gray40:hover, a.btn-square-sm.line-gray40:active, a.btn-square-sm.line-gray40:hover, a.btn-square-xs.line-gray40:active, a.btn-square-xs.line-gray40:hover, a.btn-square-2xs.line-gray40:active, a.btn-square-2xs.line-gray40:hover, a.btn-box.line-gray40:active, a.btn-box.line-gray40:hover {
  background-color: #EAEAEA;
}
button.btn-lg, a.btn-lg {
  border-radius: 27px;
}
button.btn-md, a.btn-md {
  border-radius: 22px;
}
button.btn-sm, a.btn-sm {
  border-radius: 18px;
}
button.btn-xs, a.btn-xs {
  border-radius: 18px;
}
button.btn-2xs, a.btn-2xs {
  border-radius: 99px;
}
.link-text-lg, .link-text-md, .link-text-sm, .link-text-xs {
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.link-text-lg [class^=ico] ~ .text, .link-text-md [class^=ico] ~ .text, .link-text-sm [class^=ico] ~ .text, .link-text-xs [class^=ico] ~ .text {
  margin-left: 6px;
}
.link-text-lg .text, .link-text-md .text, .link-text-sm .text, .link-text-xs .text {
  display: inline-block;
  vertical-align: top;
  color: #666;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.link-text-lg .text ~ [class^=ico], .link-text-md .text ~ [class^=ico], .link-text-sm .text ~ [class^=ico], .link-text-xs .text ~ [class^=ico] {
  vertical-align: top;
}
.link-text-lg.color-blue .text, .link-text-md.color-blue .text, .link-text-sm.color-blue .text, .link-text-xs.color-blue .text {
  color: #536F86 !important;
}
.link-text-lg.color-blue .text ~ [class^=ico], .link-text-md.color-blue .text ~ [class^=ico], .link-text-sm.color-blue .text ~ [class^=ico], .link-text-xs.color-blue .text ~ [class^=ico] {
  background: #536F86;
}
.link-text-lg .text {
  font-size: 15px;
  line-height: 21px;
}
.link-text-md .text {
  font-size: 14px;
  line-height: 20px;
}
.link-text-sm .text {
  font-size: 13px;
  line-height: 18px;
}
.link-text-xs .text {
  font-size: 12px;
  line-height: 17px;
}

.btn-box {
  height: 44px;
  border-radius: 12px;
  padding: 0 35px 0 15px;
  width: auto;
  justify-content: flex-start !important;
  position: relative;
}
.btn-box [class^=ico-arrow] {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.btn-box [class^=ico-]:not([class^=ico-arrow]) {
  margin-right: 6px;
  flex: 0 0 16px;
}
.btn-box .text {
  margin-right: 4px;
  text-align: left !important;
}
.btn-box.line-brown .ico-arrow18 {
  background: #907C6B;
}
.btn-box.line-blue .ico-arrow18 {
  background: #536F86;
}

.btn-wrap-lg, .btn-wrap-md, .btn-wrap {
  display: flex;
  gap: 6px;
}
.btn-wrap-lg [class^=btn], .btn-wrap-md [class^=btn], .btn-wrap [class^=btn] {
  width: 100%;
}

.btn-wrap.row {
  flex-direction: column;
  gap: 10px;
}

.btn-wrap-md {
  margin-top: 20px;
}

.btn-wrap-lg {
  margin-top: 30px;
}

/* Badge */
span.badge.beta, span.badge-lg, span.badge-lg-round, span.badge-md, span.badge-md-round {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  border: solid 1px transparent;
  border-radius: 4px;
}
span.badge.beta .text, span.badge-lg .text, span.badge-lg-round .text, span.badge-md .text, span.badge-md-round .text {
  vertical-align: top;
  display: inline-block;
  position: relative;
}

span.badge-md, span.badge-md-round {
  height: 22px;
  padding: 1.5px 7px;
}
span.badge-md .text, span.badge-md-round .text {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
}

span.badge-lg, span.badge-lg-round {
  height: 26px;
  padding: 3px 9px;
}
span.badge-lg .text, span.badge-lg-round .text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

span.badge-lg.gray20, span.badge-md.gray20, span.badge-lg-round.gray20, span.badge-md-round.gray20 {
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}
span.badge-lg.gray20 .text, span.badge-md.gray20 .text, span.badge-lg-round.gray20 .text, span.badge-md-round.gray20 .text {
  color: #333;
}
span.badge-lg.blue100, span.badge-md.blue100, span.badge-lg-round.blue100, span.badge-md-round.blue100 {
  background-color: #6987A1;
  border-color: #6987A1;
}
span.badge-lg.blue100 .text, span.badge-md.blue100 .text, span.badge-lg-round.blue100 .text, span.badge-md-round.blue100 .text {
  color: #FFF;
}
span.badge-lg.brown100, span.badge-md.brown100, span.badge-lg-round.brown100, span.badge-md-round.brown100 {
  background-color: #B09785;
  border-color: #B09785;
}
span.badge-lg.brown100 .text, span.badge-md.brown100 .text, span.badge-lg-round.brown100 .text, span.badge-md-round.brown100 .text {
  color: #FFF;
}
span.badge-lg.gray90, span.badge-md.gray90, span.badge-lg-round.gray90, span.badge-md-round.gray90 {
  background-color: #333;
  border-color: #333;
}
span.badge-lg.gray90 .text, span.badge-md.gray90 .text, span.badge-lg-round.gray90 .text, span.badge-md-round.gray90 .text {
  color: #FFF;
}
span.badge-lg.line-gray40, span.badge-md.line-gray40, span.badge-lg-round.line-gray40, span.badge-md-round.line-gray40 {
  background-color: #FFF;
  border-color: #DDD;
}
span.badge-lg.line-gray40 .text, span.badge-md.line-gray40 .text, span.badge-lg-round.line-gray40 .text, span.badge-md-round.line-gray40 .text {
  color: #333;
}
span.badge-md-round {
  padding: 1.5px 9px;
}
span.badge-lg-round, span.badge-md-round {
  border-radius: 20px;
}
span.badge.beta {
  width: 32px;
  height: 16px;
  padding: 0 4px 0 3px;
  border-radius: 99px;
  box-sizing: border-box;
}
span.badge.beta .text {
  font-size: 11px;
  line-height: 15px;
  font-weight: 700;
}
span.badge.beta.white {
  background-color: #FFF;
}
span.badge.beta.white .text {
  color: #536F86;
}
span.badge.beta.blue {
  background-color: #536F86;
}
span.badge.beta.blue .text {
  color: #FFF;
}

/* badge-wrap */
[class^=badge-wrap] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.badge-wrap {
  margin-bottom: 10px;
}
.badge-wrap-lg {
  gap: 4px;
}
.badge-wrap-md {
  gap: 2px;
}

/* tag */
.tag {
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  vertical-align: top;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid #DDD;
}
.tag .text {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #666;
}

.tag {
  align-items: center;
  min-height: 32px;
  padding: 5px 11px;
}
.tag .btn-delete {
  margin-left: 4px;
}

.tag-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.tag-wrap [class^=tag] {
  margin: 3px 2px;
}

/*  title */
.ctitle-2xl {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #000;
}

.ctitle-xl {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #000;
}

.ctitle-lg {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #000;
}

.ctitle-md {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #000;
}

.ctitle-sm {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #000;
}

.ctitle-xs {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #000;
}

.ctitle-2xs {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #000;
}

/* stitle */
.stitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #000;
}

.stitle-gray80 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 400;
  color: #666;
}

/* ctitle-wrap */
.ctitle-wrap-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.ctitle-wrap-xl .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctitle-wrap-xl .left-area [class*=stitle]:not(:last-child) {
  margin-bottom: 6px;
}
.ctitle-wrap-xl .left-area [class*=stext]:not(:first-child) {
  margin-top: 6px;
}
.ctitle-wrap-xl .right-area {
  margin-left: 5px;
}
.ctitle-wrap-xl [class*=stext] {
  width: 100%;
}

.ctitle-wrap-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.ctitle-wrap-lg .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctitle-wrap-lg .left-area [class*=stitle]:not(:last-child) {
  margin-bottom: 6px;
}
.ctitle-wrap-lg .left-area [class*=stext]:not(:first-child) {
  margin-top: 6px;
}
.ctitle-wrap-lg .right-area {
  margin-left: 5px;
}
.ctitle-wrap-lg [class*=stext] {
  width: 100%;
}

.ctitle-wrap-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.ctitle-wrap-md .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctitle-wrap-md .left-area [class*=stitle]:not(:last-child) {
  margin-bottom: 6px;
}
.ctitle-wrap-md .left-area [class*=stext]:not(:first-child) {
  margin-top: 6px;
}
.ctitle-wrap-md .right-area {
  margin-left: 5px;
}
.ctitle-wrap-md [class*=stext] {
  width: 100%;
}

.ctitle-wrap-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.ctitle-wrap-sm .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctitle-wrap-sm .left-area [class*=stitle]:not(:last-child) {
  margin-bottom: 6px;
}
.ctitle-wrap-sm .left-area [class*=stext]:not(:first-child) {
  margin-top: 6px;
}
.ctitle-wrap-sm .right-area {
  margin-left: 5px;
}
.ctitle-wrap-sm [class*=stext] {
  width: 100%;
}

.ctitle-wrap-xs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6px;
}
.ctitle-wrap-xs .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.ctitle-wrap-xs .left-area [class*=stitle]:not(:last-child) {
  margin-bottom: 6px;
}
.ctitle-wrap-xs .left-area [class*=stext]:not(:first-child) {
  margin-top: 6px;
}
.ctitle-wrap-xs .right-area {
  margin-left: 5px;
}
.ctitle-wrap-xs [class*=stext] {
  width: 100%;
}

.offscreen {
  position: absolute !important;
  display: block;
  overflow: hidden;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px !important;
}

.cont-box-zero {
  background-color: #FFF;
  padding: 0 0;
  padding-bottom: 30px;
}
.cont-box-zero .cont-inner {
  padding: 0 20px;
}

.gcont-box-zero {
  background-color: #F5F5F5;
  padding: 0 0;
  padding-bottom: 30px;
}
.gcont-box-zero .cont-inner {
  padding: 0 20px;
}

.rcont-box-zero {
  background-color: #F0F0F0;
  padding: 0 0;
  padding-bottom: 30px;
  border-radius: 16px 16px 0 0;
}
.rcont-box-zero .cont-inner {
  padding: 0 20px;
}

.cont-box-xs {
  background-color: #FFF;
  padding: 10px 0;
}
.cont-box-xs .cont-inner {
  padding: 0 20px;
}

.gcont-box-xs {
  background-color: #F5F5F5;
  padding: 10px 0;
}
.gcont-box-xs .cont-inner {
  padding: 0 20px;
}

.rcont-box-xs {
  background-color: #F0F0F0;
  padding: 10px 0;
  border-radius: 16px 16px 0 0;
}
.rcont-box-xs .cont-inner {
  padding: 0 20px;
}

.cont-box-sm {
  background-color: #FFF;
  padding: 16px 0;
}
.cont-box-sm .cont-inner {
  padding: 0 20px;
}

.gcont-box-sm {
  background-color: #F5F5F5;
  padding: 16px 0;
}
.gcont-box-sm .cont-inner {
  padding: 0 20px;
}

.rcont-box-sm {
  background-color: #F0F0F0;
  padding: 16px 0;
  border-radius: 16px 16px 0 0;
}
.rcont-box-sm .cont-inner {
  padding: 0 20px;
}

.cont-box-md {
  background-color: #FFF;
  padding: 20px 0;
}
.cont-box-md .cont-inner {
  padding: 0 20px;
}

.gcont-box-md {
  background-color: #F5F5F5;
  padding: 20px 0;
}
.gcont-box-md .cont-inner {
  padding: 0 20px;
}

.rcont-box-md {
  background-color: #F0F0F0;
  padding: 20px 0;
  border-radius: 16px 16px 0 0;
}
.rcont-box-md .cont-inner {
  padding: 0 20px;
}

.cont-box-lg {
  background-color: #FFF;
  padding: 30px 0;
}
.cont-box-lg .cont-inner {
  padding: 0 20px;
}

.gcont-box-lg {
  background-color: #F5F5F5;
  padding: 30px 0;
}
.gcont-box-lg .cont-inner {
  padding: 0 20px;
}

.rcont-box-lg {
  background-color: #F0F0F0;
  padding: 30px 0;
  border-radius: 16px 16px 0 0;
}
.rcont-box-lg .cont-inner {
  padding: 0 20px;
}
/*# sourceMappingURL=reward_components.css.map */
